.hero-section {
    background-color: #121212; 
    color: #ffffff; 
    position: relative; 
    z-index: 1; 
  }
  
  
  .hero-buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); 
    z-index: 2; 
  }
  
  
  .hero-section {
    background-image: url('./images/planet-1702788_1920.jpg');
    background-size: cover;
    background-position: center;
  }
  
  #Skills {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }

  #work{
    border: 1px solid none;
    border-radius: 5px;
    padding: 20px;
  }
  
.col-12{
text-align: center;
 padding-top: 5px;
 padding-bottom: 2%;
}

#contact-me{
  border: 1px solid none;
    border-radius: 5px;
    padding: 20px;
}

#footer-links{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 0%;
}

#social-icons{
  margin-left: 35%;
}


/* Base styles */
.social-icon {
  font-size: 1.5rem; /* Adjust base icon size as needed */
  margin: 0 10px; /* Spacing between icons */
}

/* Media query for medium screens */
@media (max-width: 768px) {
  .social-icon {
    font-size: 2rem; /* Larger icons on medium screens */
    margin: 0 15px; /* Larger spacing between icons on medium screens */
  }
}

/* Media query for small screens */
@media (max-width: 576px) {
  .social-icon {
    font-size: 2.5rem; /* Even larger icons on small screens */
    margin: 0 20px; /* Even larger spacing between icons on small screens */
  }
}
