
  
.hero-section {
    background-image: url('./images/background.webp');
    background-size: cover;
    background-position: center;
  }
  .text-background {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 0.5rem 1rem; /* Spacing around the text */
    border-radius: 0.5rem; /* Optional: rounded corners for the background */
    margin: 0.5rem 0; /* Space above and below the text elements */
  }
  
  /* Apply the .text-background class to any text element that needs to stand out */
  