.hero-section {
    background-color: #121212; /* Dark background color */
    color: #ffffff; /* White text color for contrast */
    position: relative; /* Position relative for absolute positioning of buttons */
    z-index: 1; /* Ensure the layering is correct */
  }
  
  
  .hero-buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); /* Center the buttons */
    z-index: 2; /* Above the background image */
  }
  
  /* If you have a specific background image you want to use */
  .hero-section {
    background-image: url('./images/planet-1702788_1920.jpg');
    background-size: cover;
    background-position: center;
  }
  
  #Skills {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }

  #work{
    border: 1px solid none;
    border-radius: 5px;
    padding: 20px;
  }
  
.col-12{
text-align: center;
 padding-top: 5px;
 padding-bottom: 2%;
}

#contact-me{
  border: 1px solid none;
    border-radius: 5px;
    padding: 20px;
}
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
}
.footer__contact-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.social-icon {
  font-size: 2rem;
  color: var(--accent-color);
}